<%- include('../partials/header') %> 

<form action="/venues/index" method="GET">
    <input type="hidden" name="lat">
    <input type="hidden" name="lng">
    <button id="near-me" type="submit" disabled>Find Venues Near Me</button>
</form>
<div id="venue-list" class="flex row">
<% places.forEach(function(p) { %>
    <section id="venue" class="flex col">
        <h2><%= p.name %></h2>
        <h2><%= p.location.locality%>, <%= p.location.region %></h2>
    </section>
<% }); %> 
</div>
<script>
    const latInp = document.querySelector('[name="lat"]');
    const lngInp = document.querySelector('[name="lng"]');
    navigator.geolocation.getCurrentPosition(function(result) {
        latInp.value = result.coords.latitude;
        lngInp.value = result.coords.longitude;
        document.querySelector('button').disabled = false;
    });
</script>
<%- include('../partials/footer') %> 