<%- include('../partials/header') %> 

<h2>Edit Post</h2>
<form class="add-event grid" action="/posts" method="POST">
    <div class="grid">
        <label>Title: </label>
        <input type="text" name="title" value="<%=post.title%>" required>

        <label>Category: </label>
        <input type="text" name="category" value="<%= post.category %>">

  
        <label>Venue: </label>
        <input type="text" name="venue" value="<%=post.venue%>" required>
 
        <label>Location: </label>
        <input type="text" name="location" value="<%=post.location%>" required>
        
        <label>Add Link: </label>
        <input type="url" name="link" value="<%=post.link%>">
    </div>
    <button class="flex" type="submit">Save</button>
</form>

<%- include('../partials/footer') %> 