<%- include('../partials/header') %>

<% if (user) { %> 
    
    <% posts.forEach(function(p) { %>
        <section id="post" class="flex col">
            <a href="/posts/<%= p._id %>"><h2 class="flex"><%= p.title %></h2></a>
            <p><%= p.event %></p>
            <aside class="flex row">
                <h3 id="venue"><%= p.venue %>&nbsp;|&nbsp;</h3>
                <h3 id="location"><%= p.location %></h3>
            </aside>
        </section>
    <% }); %>
<% } else { %>
    <section id="sign-up" class="flex col">
        <h2>Login/Sign-up: </h2>
        <a href="/auth/google" class="login"><img src="https://i.imgur.com/FHjYyi0.png"></a>
    </section>

<% } %>

<%- include('../partials/footer') %>