<%- include('../partials/header') %>

<div id="show-post" class="flex col">
    <h2><%= post.title %>&nbsp;&nbsp;&nbsp;&nbsp;
    <% if (user && user._id.equals(post.user)) { %>
        <a href="/posts/<%= post._id %>/edit"><i class="far fa-edit"></i></a>
    <% } %> 
    </h2>
    <h3 id="date"><%= post.date %></h3>
    <h3 id="event-venue"><%= post.venue %>&nbsp;|&nbsp;<%= post.location %></h3>
    <a href="<%= post.link %>">Tickets/Info Here</a>
    <h3><%=post.category%></h3>

</div> 

<% if (user) { %>
    <form id="add-comment-form" class="flex col" method="POST" action="/posts/<%= post._id %>/comments">
        <label>Comment: </label>
        <textarea name="content" cols="60" rows="5" required></textarea>
        <button type="submit">Post</button>
    </form>
<% } %>

<% if (post.comments.length) { %> 
    <% post.comments.forEach(function(c) { %>
        <section id="comment" class="flex row">
            <div id="user" class="flex col">
                <img src="<%= c.userAvatar %>" alt="avatar">
                <h5><%= c.userName %></h5>
            </div>
            <div id="content" class="flex row">
                <p><%= c.content %></p> 
            </div>  
            <% if (user && user._id.equals(c.user)) { %>
            <div>
                <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                    &nbsp;&nbsp;<button id="delete" type="submit"><i class="far fa-trash-alt"></i></button>
                </form>
            <% } %>
            </div>
        </section>
    <% }); %>
    <% } else { %>
        <h3>No Comments Yet</h3>
    <% } %>

    <script>
        let date = document.querySelector('#date');
        date.innerHTML = new Date(date.innerHTML).toDateString().slice(0, 15);
    </script>

<%- include('../partials/footer') %>