<%- include('../partials/header') %>

<section id="show-page">
    <h2><%= post.title %></h2>
    <p><%= post.event %> </p>
    <h3><%= post.venue %> </h3>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <h3><%= post.location %></h3>
</section>

<h2>Comments</h2>
<% if (user) { %>
<form id="add-comment-form" method="POST" action="/posts/<%= post._id %>/comments">
    <label>Comment: </label>
    <textarea name="content"></textarea>
    <input type="submit" value="Post">
</form>
<% } %>

<% if (post.comments.length) { %> 
    <% post.comments.forEach(function(c) { %>
        <section id="comment" class="flex row">
            <div id="user" class="flex col">
                <img src="<%= c.userAvatar %>" alt="avatar">
                <h5><%= c.userName %></h5>
            </div>
            <div id="content" class="flex row">
                <p><%= c.content %></p>    
            <% if (user && user._id.equals(c.user)) { %>
                <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                    <button type="submit"><i class="far fa-trash-alt"></i></button>
                </form>
            <% } %>
            </div>
        </section>
    <% }); %>
    <% } else { %>
        <h3>No Comments Yet</h3>
    <% } %>

<%- include('../partials/footer') %>